p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h1{
    color:blue;
}

h2{
    color:orange;
}

h3{
    color:black;
    /*background-color:white*/
}


input[type=text]:focus {
    background-color: lightcyan;
}

body {background-color: coral;}

table {
    background-color:black ;
}

td{
    background-color:mediumseagreen;
}              

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: relative; /* Set the navbar to a relative position */
    top:0; /* Position the navbar at the top of the page */
    width:99.9%; /* 99.9% width so there is a gap on both sides of the page*/
  }
  
  /* Links inside the navbar but i took out the navbar */
  .navbar a {
    float:left;
    display:block ;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  /* this changes the background color when a mouse hovers over it */
  .navbar a:hover {
    background: blue;
    color: white;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; 
  }

  
  /*div {
    background-color: lightgrey;
    width: 100px;
    border: 55px solid green;
    padding: 55px;
    margin: 20px;
  }*/
  
  a:link {
    color:white;
  }
  
  a:visited {
    color: black;
  }

  a:hover {
    color: purple;
  }

  a:active {
    background-color: yellow;
  }

  table.center {
    margin-left:auto; 
    margin-right:auto;
  }


  .header {
    padding: .011px;
    text-align: center;
    background: mediumseagreen;
    color: black;
    font-size: 30px;
  }

  .footer {
    padding: 10px;
    background: mediumseagreen;
    color: black;
    font-size: 30px;
    text-align: center;
 }
 
body  {
  background-image: url("https://cdn.wallpapersafari.com/13/46/iJ7dep.jpg");
  background-color: #cccccc;
}


